.imgZoom {
  transition: transform 0.4s;
  filter: grayscale(60%);
}

.imgZoom:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.unSelectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.scrollbarClean::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbarClean::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bcbcbc;
}

.nav-profile .dropdown-menu {
  left: -100px;
}
